@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- ABOUT -->
<section class="about backgroundTopSection full-screen d-lg-flex justify-content-center align-items-center" id="about">
    <div class="container">
        <div class="row">

            <div class="col-lg-7 col-md-12 col-12 d-flex align-items-center">
                <div class="about-text">
                    <small class="small-text">Welcome to <span class="mobile-block">my portfolio website!</span></small>
                    <h1 class="animated animated-text">
                        <span class="mr-2">Hey folks, I'm</span>
                        <div class="animated-info">
                            <span class="animated-item">Programmer</span>
                            <span class="animated-item">Developer</span>
                            <span class="animated-item">Specialist</span>
                        </div>
                    </h1>

                    <p class="text-danger fw-bold">Building a successful product is a challenge. I am highly energetic in user experience design, interfaces and web development.</p>

                    <div class="custom-btn-group mt-4">
                        <a href="https://www.linkedin.com/in/shahriyar-tarnasi/" class="btn mr-lg-2 custom-btn"><i class='uil uil-phone-alt'></i> Contact Me</a>
                        <a href="~/images/tarnasi/Tarnasi.pdf" class="btn custom-btn custom-btn-bg custom-btn-link" download="tarnasi_resume.pdf">
                            <i class='uil uil-file-alt'></i>&nbsp;Tarnasi<sub>&nbsp;.resume</sub>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- PROJECTS -->
<section class="project py-5" id="project">
    <div class="container">

        <div class="row">
            <div class="col-lg-11 text-center mx-auto col-12">

                <div class="col-lg-8 mx-auto">
                    <h2>Things I have designed for digital media agencies</h2>
                </div>

                <div class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="project-info">
                            <img src="~/images/project/project-image01.png" class="img-fluid" alt="project image">
                        </div>
                    </div>

                    <div class="item">
                        <div class="project-info">
                            <img src="~/images/project/project-image02.png" class="img-fluid" alt="project image">
                        </div>
                    </div>

                    <div class="item">
                        <div class="project-info">
                            <img src="~/images/project/project-image03.png" class="img-fluid" alt="project image">
                        </div>
                    </div>

                    <div class="item">
                        <div class="project-info">
                            <img src="~/images/project/project-image04.png" class="img-fluid" alt="project image">
                        </div>
                    </div>

                    <div class="item">
                        <div class="project-info">
                            <img src="~/images/project/project-image05.png" class="img-fluid" alt="project image">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<!-- FEATURES -->
<section class="resume py-5 d-lg-flex justify-content-center align-items-center" id="resume">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-12">
                <h2 class="mb-4">Experiences</h2>
                <div class="timeline">
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>Peresent</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Advance Programming</span><small>Become Master</small></h3>
                            <p>Research and learn about architectures and patterns and best practices</p>
                        </div>
                    </div>

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>2022</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Learning Web Programming (API | Frontend)</span><small>System Services</small></h3>
                            <p>Working on compilation APIs and System Design</p>
                        </div>
                    </div>

                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>2021</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Scheduling Task and async actions</span><small>Crypto Project</small></h3>
                            <p>A big crypto project live data update and a lot of actions in the sametime. it was very challenging  for me</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-12">
                <h2 class="mb-4 mobile-mt-2">Educations</h2>

                <div class="timeline">
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>Peresent</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Learning C# and ASP.net</span><small>Become Master</small></h3>
                            <p>Learning C# language better and best practices</p>
                        </div>
                    </div>
                    <div class="timeline-wrapper">
                        <div class="timeline-yr">
                            <span>2023</span>
                        </div>
                        <div class="timeline-info">
                            <h3><span>Interesting to .NET features like .NET MAUI</span><small>Cross Platform</small></h3>
                            <p>Learning programming mobile, desktop application</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- CONTACT -->
<section class="contact py-5" id="contact">
    <div class="container">
        <div class="row">

            <div class="col-11 mr-lg-5 col-12">
                <div id="leafMap" class="w-100">
                </div>

                <div class="contact-info d-flex justify-content-between align-items-center py-4 px-lg-5">
                    <div class="contact-info-item">
                        <h3 class="mb-3 text-white">Contact Me</h3>
                        <p class="footer-text mb-0">Text me: +1(954) 281-2703</p>
                        <p><a href="mailto:shahryar.tarnasi@gmail.com">Send me an email</a></p>
                    </div>

                    <ul class="social-links">
                        <li><a href="https://telegram.me/FloatTMen" class="uil uil-dribbble" data-placement="left" title="Telegram"></a></li>
                        <li><a href="https://www.linkedin.com/in/shahriyar-tarnasi/" class="uil uil-instagram" data-placement="left" title="Linkedin"></a></li>
                        <li><a href="https://www.youtube.com/channel/UCkn2ndVOX2oXXIyS1SH3fcg" class="uil uil-youtube" data-placement="left" title="Youtube"></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>
